
<!--
<app-certif-details></app-certif-details>
-->
<app-certif-forms></app-certif-forms>


<!--

<div class="container">
  <div class="row p-1">
    <div class="card-deck p-3" *ngFor="let certif of Certifs">
      <a class="card-block stretched-link text-decoration-none" href>
        <div class="card text-center" style="width: 18rem;">
          <img src="{{certif.imagePath}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{certif.name}}</h5>
            <p class="card-text">{{certif.description}}</p>

            <div class="card-footer">
              <div class="row" *ngFor="let section of certif.sections">
                <div class="col center-block text-center">
                  {{section}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

-->











