<!--
<div class="d-flex text-white">
    <div class="p-2 flex-fill bg-primary">
        <div class="col-xs-4">
            <img src="../../../assets/CEH-logo.png" alt="ceh logo">
        </div>
    </div>

    <div class="p-4 flex-fill bg-success">Flex item</div>
</div>
-->


<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">primary Title
      <small>Secondary Title</small>
    </h1>
  
    <!-- Portfolio Item Row -->
    <div class="row">
  
      <div class="col-md-8 ">
        <img class="img-fluid" src="../../../assets/CEH_big.jpg" alt="">
        <span class="badge badge-info">Security</span>&nbsp;<span class="badge badge-warning">Software Engineer</span>
        <h3 class="my-3">About the Exam :</h3>
        <ul>
            <li>Number of Questions: 125</li>
            <li>    Test Duration: 4 Hours</li>
            <li>    Test Format: Multiple Choice</li>
            <li>    Test Delivery: ECC EXAM, VUE</li>
            <li>    Exam Prefix: 312-50 (ECC EXAM), 312-50 (VUE)</li>
        </ul>
        <h3 class="my-3">The Purpose of the CEH credential is to:</h3>
        <ul>
            <li>Establish and govern minimum standards for credentialing professional information security specialists in ethical hacking measures.</li>
            <li>    Inform the public that credentialed individuals meet or exceed the minimum standards.</li>
            <li>    Reinforce ethical hacking as a unique and self-regulating profession.</li>
        </ul>

        <a href="http://tekup-online.com/course/index.php?categoryid=377">available courses</a><br />
        <a href="https://www.eccouncil.org/programs/certified-ethical-hacker-ceh/">More info at CEH official website</a>

      </div>
  
      <div class="col-md-4">
        <h3 class="my-3">Certified Ethical Hacker</h3>
        <p>The Certified Ethical Hacker (CEH) program is the most comprehensive ethical hacking course on the globe to help information security professionals grasp the fundamentals of ethical hacking. The course outcome helps you become a professional who systematically attempts to inspect network infrastructures with the consent of its owner to find security vulnerabilities which a malicious hacker could potentially exploit.</p>
        <h3 class="my-3">Certification Chapters</h3>
        <ul>
            <li>Module 01: Introduction to Ethical Hacking</li>
            <li>Module 02: Footprinting and Reconnaissance</li>
            <li>Module 03: Scanning Networks</li>
            <li>Module 04: Enumeration</li>
            <li>Module 05: Vulnerability Analysis</li>
            <li>Module 06: System Hacking</li>
            <li>Module 07: Malware Threats</li>
            <li>Module 08: Sniffing</li>
            <li>Module 09: Social Engineering</li>
            <li>Module 10: Denial-of-Service</li>
            <li>Module 11: Session Hijacking</li>
            <li>Module 12: Evading IDS, Firewalls, and Honeypots</li>
            <li>Module 13: Hacking Web Servers</li>
            <li>Module 14: Hacking Web Applications</li>
            <li>Module 15: SQL Injection</li>
            <li>Module 16: Hacking Wireless Networks</li>
            <li>Module 17: Hacking Mobile Platforms</li>
            <li>Module 18: IoT Hacking</li>
            <li>Module 19: Cloud Computing</li>
            <li>Module 20: Cryptography</li>
        </ul>
      </div>
  
    </div>
    <!-- /.row -->
  
    <!-- Related Projects Row -->
    <h3 class="my-4">Related Certifications</h3>
  
    <div class="row">
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
              <img class="img-fluid" src="http://placehold.it/500x300" alt="">
            </a>
      </div>
  
    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

<!--

<body class="container-fluid d-flex flex-column grow">
    <div class="row">
        <aside class="col-4 order-md-1 p-5">
            <img src="../../../assets/CEH-logo.png" alt="ceh logo">
            <div class="row m-3">
                Estimated Time :
            </div>
            <div class="row m-3">
                most usefull for :
            </div>
        </aside>
        <div class="col-12 col-md-8 order-last main pl-2 pt-5">
            <div class="row">
                <div class="col-12">
                    <div class="display-3">
                        Certified Ethical Hacker
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <ul>
                    <li>grasp the fundamentals of ethical hacking.</li>
                    <li>The course outcome helps you become a professional who systematically attempts to inspect
                        network infrastructures with the consent of its owner</li>
                    <li>find security vulnerabilities which a malicious hacker could potentially exploit.</li>
                </ul>

            </div>
            <div class="col-12 col-md-8 order-last main float-right">
                <div class="row">
                    <h2>What will I learn ?</h2>
                </div>
                <div class="row">
                        <ul class="list-group">
                            <li class="list-group-item">Module 01: Introduction to Ethical Hacking</li>
                            <li class="list-group-item">Module 02: Footprinting and Reconnaissance</li>
                            <li class="list-group-item">Module 03: Scanning Networks</li>
                            <li class="list-group-item">Module 04: Enumeration</li>
                            <li class="list-group-item">Module 05: Vulnerability Analysis</li>
                            <li class="list-group-item">Module 06: System Hacking</li>
                            <li class="list-group-item">Module 07: Malware Threats</li>
                            <li class="list-group-item">Module 08: Sniffing</li>
                            <li class="list-group-item">Module 09: Social Engineering</li>
                            <li class="list-group-item">Module 10: Denial-of-Service</li>
                        </ul>
                    <div class="col-xs-8 float-right">
                        <ul class="list-group">
                            <li class="list-group-item">Module 11: Session Hijacking</li>
                            <li class="list-group-item">Module 12: Evading IDS, Firewalls, and Honeypots</li>
                            <li class="list-group-item">Module 13: Hacking Web Servers</li>
                            <li class="list-group-item">Module 14: Hacking Web Applications</li>
                            <li class="list-group-item">Module 15: SQL Injection</li>
                            <li class="list-group-item">Module 16: Hacking Wireless Networks</li>
                            <li class="list-group-item">Module 17: Hacking Mobile Platforms</li>
                            <li class="list-group-item">Module 18: IoT Hacking</li>
                            <li class="list-group-item">Module 19: Cloud Computing</li>
                            <li class="list-group-item">Module 20: Cryptography</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <footer></footer>
</body>

-->